@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Mulish', sans-serif;
}

header {
    background: #FFEA36;
    padding: 40px;
    font-size: 25px;
}

header > h1 {
    color: #2D2A32;
    text-align: center;
}

body {
    background: #2D2A32;
}

.scoreDisplay {
    margin: 20px auto;
    margin-top: 60px;
    border: 3px solid #EAE151;
    width: 200px;
    color: #FFEA36;
    text-align: center;
    font-size: 46px;
    padding: 20px 20px;
    border-radius: 15px;
    position: relative;
}

.badge {
    background: #FAFDF6;
    color: #2D2A32;
    font-size: 20px;
    padding: 2px 10px;
}

#user-label {
    position: absolute;
    top: 35px;
    left: -35px;
    border-radius: 10px;
}

#computer-label {
    position: absolute;
    top: 35px;
    right: -75px;
    border-radius: 10px;
}

.result {
    font-size: 40px;
    color: white;
    padding: 20px;
}

.result > p {
    text-align: center;
    font-weight: bold;
}

img {
    height: 150px;
    width: auto;
}

.choices {
    margin: 20px 0;
    text-align: center;
}

.choice {
    display: inline-block;
    margin: 0 10px;
    background: #FFEA36;
    transition: all 0.3 ease;
}

.choice h2 {
    color: #2D2A32;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
}

.choice:hover {
    box-shadow: 0 0 10px #EAE151;
}

.choice:hover h2 {
    font-weight: 700;
}

.choice img:hover {
    cursor: pointer;
}

.rule-list {
    color: #FAFDF6;
}

.rule-list h2 {
    font-size: 30px;
    margin-top: 40px;
    padding: 15px 0;
}

.r-list {
    margin-left: 15px;
}

.r-list li {
    font-size: 25px;
    font-weight: 300;
}

footer {
    padding: 0 0 40px 0;
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 70%;
}

.container img {
    width: 20rem;
    display: inline-block;
}

.copyright {
    display: inline-block;
    font-size: 15px;
    color: #6a6a6a;
}